.Artikel{
	position: relative;
	width: 66.66%;
	height: 100%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	animation-name: fadein;
	animation-duration: 2s;
}

.Beschreibung {
	display: inline-block;
	position: absolute;
	float: left;
	height: 100%;
	width: 40%;
	text-align: center;
	background-color: #00524f;
	color: white;
	border-radius: 5px;
}
	

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#shopping{
	position: relative;
	float: left;
	height: 10%;
	width: 75%;
	top: 70%;
	margin-left: 12.5%;
	margin-right: auto;
	border: none;
	border-radius: 5px;
	background-color: #eb5c00;
	color: white;
}

.selection{
	position: absolute;
	width: 70%;
	left: 55%;
	bottom: 20%;
}

.selection select{
	background-color: #eb5c00;
	color: white;
	padding: 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 5px;
	width: 8%;
}

select optgroup{
	background: #eb5c00;
}


select:after{
	background-color:white;
}


p{
	position: relative;
	top: 50%;
	right: 30%;
}
