.Artikel{
	position: relative;
	width: 66.66%;
	height: 100%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	animation-name: fadein;
	animation-duration: 2s;
}

.Beschreibung {
	display: inline-block;
	position: absolute;
	float: left;
	height: 75%;
	width: 40%;
	text-align: center;
	background-color: orange;
	border-radius: 5px;
}
	

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#shopping{
	position: relative;
	float: left;
	height: 10%;
	width: 100%;
	top: 70%;
	margin-left: auto;
	margin-right: auto;
}

.selection{
	position: absolute;
	width: 100%;
	left: 72.5%;
	bottom: 300px;
}

.selection select{
	background-color: blue;
	color: white;
	padding: 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 5px;
	width: 8%;
}

select:after{
	background-color:white;
}

.Quantity{
	background-color: blue;
}

.Size{
	background-color: blue;
}
