ul { 
	z-index: 5;	
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	margin-top:-133px;
	margin-left:204px;
}

li {
	float: left;
}

li a{
	text-shadow: 0 0 20px black;
	color: #ffffff;
	text-align: center;
	padding: 10px 15px;
	margin: 34px;
	font-family: Gill Sans MT Condensed;
	font-size: 30px;
	text-decoration: none;
	display:inline-block;
    -webkit-transform:scale(0.7,1); /* Safari and Chrome */
    -moz-transform:scale(0.7,1); /* Firefox */
    -ms-transform:scale(0.7,1); /* IE 9 */
    -o-transform:scale(0.7,1); /* Opera */
    transform:scale(0.7,1); /* W3C */
}

.navigatorlinks:hover{
	text-shadow: 0px 0px 5px black;

	background-image: radial-gradient(rgba(256,256,256,0.5) 20%,rgba(227,120,38,0) 80%);
	color:white;
}
body {
	background-color:rgb(55,53,62);
}
	
	
h1 {
	text-align; center;
	color: #a3cccc;
	font-family: century gothic;
	font-size: 60px;
	font-weight: 100;
	position: absolute;
	top: 50px;
	left: 400px;
	
}

#tiltedquad{
	z-index: -3;
	height: 170px;
	width: 150px;
	background-color: black;
	position:relative;
	top:-10px;
	margin-left:-24px;
		-ms-transform: rotate(20deg); /* IE 9 */
	-webkit-transform: rotate(20deg); /* Safari */
	transform: rotate(20deg);
}

#tiltedquad2{
	z-index: -2;
	height: 170px;
	width: 170px;
	background-color: black;
	position:relative;
	top:-16px;
	left:15px;
	-ms-transform: rotate(-10deg); /* IE 9 */
	-webkit-transform: rotate(-10deg); /* Safari */
	transform: rotate(-10deg);
}

#blackblocker1{
	z-index: 5;
	height: 50px;
	width: 40px;
	background-color: black;
	position:relative;
	margin-top:-200px;
	margin-left:163px;
	-ms-transform: rotate(15deg); /* IE 9 */
	-webkit-transform: rotate(15deg); /* Safari */
	transform: rotate(15deg);
}

#blackblocker2{
	z-index: 5;
	height: 25px;
	width: 2px;
	background-color: black;
	position:relative;
	top:-25px;
	left:350px;
	-ms-transform: rotate(15deg); /* IE 9 */
	-webkit-transform: rotate(15deg); /* Safari */
	transform: rotate(15deg);
}

#blackblocker3{
	z-index: 5;
	height: 25px;
	width: 2px;
	background-color: black;
	position:relative;
	top:-50px;
	left:510px;
	-ms-transform: rotate(15deg); /* IE 9 */
	-webkit-transform: rotate(15deg); /* Safari */
	transform: rotate(15deg);
}

#blackblocker4{
	z-index: 5;
	height: 25px;
	width: 2px;
	background-color: black;
	position:relative;
	top:-75px;
	left:670px;
	-ms-transform: rotate(15deg); /* IE 9 */
	-webkit-transform: rotate(15deg); /* Safari */
	transform: rotate(15deg);
}

#blackblocker5{
	z-index: 5;
	height: 30px;
	width: 20px;
	background-color: black;
	position:relative;
	top:-100px;
	left:830px;
	-ms-transform: rotate(25deg); /* IE 9 */
	-webkit-transform: rotate(25deg); /* Safari */
	transform: rotate(25deg);
}

#blueline{
	z-index:4;
	height: 5px;
	width: 500px;
	background-color: rgb(33,139,125);
	position:relative;
	margin-top:-95px;
	margin-left:190px;
}

#whiteline{
	z-index:4;
	height: 2px;
	width: 180px;
	background-color: #a5b7c0;
	position:relative;
	margin-top:-929px;
	margin-left:410px;
}

#greynavigatorbar{
	z-index:4;
	height: 18px;
	width: 650px;
	background-color: rgb(55,53,62);
	position:relative;
	margin-top:10px;
	margin-left:190px;

}

#logo {
	position: relative;
	z-index: 5;
	top:-340px;
	left:-140px;
	width: 400px;
    height: 400px;
    background-image: url("Bilder/LOGO FIN.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.navigation{
	height: 120px;
	width: 980px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#titelbild {
	position: relative;
	z-index: 2;
	width: 100%;
    height: 700px;
    background-image: url("Bilder/Swipe1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#titelbild h1{
	color: white;
	position: absolute;
	width: 40%;
	top: 75%;
	left: 10%;
	background-color: #00524f;
	background-image: linear-gradient(to right, #00524f,#a3cccc );
	text-align: center;
}

.text{
	position: absolute;
	padding: 50px;
	background-color: orange;
	top: 0px;
	left: 0px;
}

h1{
	z-index:4;
	position:relative;
	top:-140px;
	left:166px;
	color: #a5b7c0;
	text-shadow: 0 0 20px rgba(255,255,255,0.3);
	font-family: Gill Sans MT Condensed;
	font-size: 60px;
	text-decoration: none;
	display:inline-block;
    -webkit-transform:scale(0.7,1); /* Safari and Chrome */
    -moz-transform:scale(0.7,1); /* Firefox */
    -ms-transform:scale(0.7,1); /* IE 9 */
    -o-transform:scale(0.7,1); /* Opera */
    transform:scale(0.7,1); /* W3C */
}

#right-triangle {
	z-index:3;
	top:-580px;
	left:-65px;
	position:relative;
	width: 0;
	height: 0;
	border-left: 420px solid rgba(0,0,0,0.3);
	border-top: 0px solid transparent;
	border-bottom: 360px solid transparent;
	-ms-transform: rotate(25deg); /* IE 9 */
	-webkit-transform: rotate(20deg); /* Safari */
	transform: rotate(20deg);
}

#greyboxright{
	z-index:4;
	height: 108px;
	width: 50px;
	background-color: rgb(55,53,62);
	position:relative;
	margin-top:-42px;
	margin-left:920px;

}

#blackdivisor{
	z-index: 5;
	height: 220px;
	width: 5px;
	background-color: black;
	position:relative;
	top:-183px;
	left:865px;
	-ms-transform: rotate(-75deg); /* IE 9 */
	-webkit-transform: rotate(-75deg); /* Safari */
	transform: rotate(-75deg);
}
#greyline{
	z-index: 4;
	height: 210px;
	width: 5px;
	background-color: rgb(55,53,62);
	position:relative;
	top:-400px;
	left:865px;
	-ms-transform: rotate(-75deg); /* IE 9 */
	-webkit-transform: rotate(-75deg); /* Safari */
	transform: rotate(-75deg);
}

#benutzer {
	position: relative;
	z-index: 5;
	top:-1px;
	left:3px;
	width: 45px;
    height: 45px;
    background-image: url("Bilder/Benutzer.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#benutzerlink{
	position:relative;
	top:8px;
	left:2px; 
    display:block;
    width:40px;
    height:40px;
	background-image: url("Bilder/Benutzer.svg");
}

#benutzerlink:hover{
	text-shadow: 0px 0px 5px black;
	background-image: radial-gradient(rgba(256,256,256,0.5) 20%,rgba(227,120,38,0) 80%);
	color:black;
}

#benutzerlinktext{
	position:relative;
	top:13px;
	left:20px;
    display:block;
	height:15px;
    text-shadow: 0 0 1px black;
	color:white;
	text-align: center;
	font-family: Gill Sans MT Condensed;
	font-size: 15px;
	text-decoration: none;
	display:inline-block;
    -webkit-transform:scale(0.7,1); /* Safari and Chrome */
    -moz-transform:scale(0.7,1); /* Firefox */
    -ms-transform:scale(0.7,1); /* IE 9 */
    -o-transform:scale(0.7,1); /* Opera */
    transform:scale(0.7,1); /* W3C */
}

#warenkorb {
	position: relative;
	z-index: 5;
	top:-5px;
	left:-11px;
	width: 75px;
    height: 75px;
    background-image: url("Bilder/Warenkorb.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	display:inline-block;
}

#warenkorblink{
	position:relative;
	top:20px;
	left:17px; 
    display:block;
    width:40px;
    height:40px;
	background-image: url("Bilder/Benutzer.svg");
}

#warenkorblink:hover{
	text-shadow: 0px 0px 5px black;
	background-image: radial-gradient(rgba(256,256,256,0.5) 20%,rgba(227,120,38,0) 80%);
	color:black;
}

#warenkorblinktext{
	position:relative;
	top:15px;
	left:20px;
    display:block;
	height:15px;
    text-shadow: 0 0 1px black;
	color:white;
	text-align: center;
	font-family: Gill Sans MT Condensed;
	font-size: 15px;
	text-decoration: none;
	display:inline-block;
    -webkit-transform:scale(0.7,1); /* Safari and Chrome */
    -moz-transform:scale(0.7,1); /* Firefox */
    -ms-transform:scale(0.7,1); /* IE 9 */
    -o-transform:scale(0.7,1); /* Opera */
    transform:scale(0.7,1); /* W3C */
}

.footer{
	position: relative;
	float: left;
	height: 10px;
	display: block;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	color: white;
	font-family: Century Gothic;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	margin-top: 10%;
	bottom: 0px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
}

.Kategorie{
	position: relative;
	width: 75%;
	height: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 0px;
}

#Kategorienbild {
	position: relative;
	z-index: -1;
	width: 100%;
    height: 300px;
    background-image: url("Bilder/StrandMen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#Kategorienbildfrau {
	position: relative;
	z-index: -1;
	width: 100%;
    height: 300px;
    background-image: url("Bilder/Damenkategorie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#Kategorienbildkind {
	position: relative;
	z-index: -1;
	width: 100%;
    height: 300px;
    background-image: url("Bilder/Kinderkategorie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}

#Kategorienbildsale {
	position: relative;
	z-index: -1;
	width: 100%;
    height: 300px;
    background-image: url("Bilder/Sale.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.wetsuit{
	position: relative;
	float: left;
	text-align: center;
	width: 25%;
	height: 30%;
	margin-top:2%;
	opacity: 0.5;
}

.wetsuit:hover{
	opacity: 1;
}


.Name{
	position: relative;
	bottom: 0px;
	height: 50px;
	background-image: linear-gradient(to top, rgba(0,82,79,0),rgba(9,82,79,1));
	border: 2px solid white;
	text-align: center;
	width: 75%;
	margin: auto;
	color: white;
	font-family: Century Gothic;
}

.Kategorietext{
	margin-top: 20px;
	width: 50%;
	left: auto;
	right: auto;
	background-image: linear-gradient(to top, rgba(0,82,79,0),rgba(9,82,79,1));
	text-align: center;
	z-index: 4;
	text-shadow: 0 0 20px rgba(255,255,255,0.3);
	font-family: Gill Sans MT Condensed;
	font-size: 60px;
	text-decoration: none;
	display:block;
    -webkit-transform:scale(0.7,1); /* Safari and Chrome */
    -moz-transform:scale(0.7,1); /* Firefox */
    -ms-transform:scale(0.7,1); /* IE 9 */
    -o-transform:scale(0.7,1); /* Opera */
    transform:scale(0.7,1); /* W3C */
	}

	
p{
	margin-left: auto;
	margin-right: auto;
	font-size: 100px;
	color: white;
	font-family: Century Gothic;
}

.Kategorienauswahl{
	position: relative;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	z-index: 4;
}

.kategorienauswahl{
	height: 50%;
	filter: blur(5px);
}

.kategorienauswahl1{
	display: inline-block;
	height: 50%;
	width: 33%;
	filter: blur(5px);
}

.kategorienauswahl2{
	display: inline-block;
	text-align: center;
	height: 50%;
	width: 33%;
	filter: blur(5px);
}

.kategorienauswahl3{
	display: inline-block;
	text-align: center;
	height: 50%;
	width: 33%;
	filter: blur(5px);
}

.Beschriftung{
	position: absolute;
	text-align: center;
	font-size: 100px;
	left: 33%;
	right: 33%;
	top: 33%;
	font-family: Gill Sans MT Condensed;
	color: white;
}

.Beschriftung1{
	position: relative;
	font-size: 60px;
	color: white;
	bottom: 140px;
	text-align: center;
	font-family: Gill Sans MT Condensed;
}

.Beschriftung2{
	position: relative;
	font-size: 60px;
	color: white;
	bottom: 140px;
	text-align: center;
	font-family: Gill Sans MT Condensed;
}

.Beschriftung3{
	position: relative;
	font-size: 60px;
	color: white;
	bottom: 140px;
	text-align: center;
	font-family: Gill Sans MT Condensed;
}


a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
}

.kategorienauswahl:hover, .kategorienauswahl1:hover, .kategorienauswahl2:hover, .kategorienauswahl3:hover{
	filter: blur(0px);
}

.Artikel{
	position: relative;
	width: 66.66%;
	height: 100%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	animation-name: fadein;
	animation-duration: 2s;
}

.Beschreibung {
	display: inline-block;
	position: absolute;
	float: left;
	height: 100%;
	width: 40%;
	text-align: center;
	background-image: linear-gradient(to top, rgba(0,82,79,0),rgba(9,82,79,1));
	color: white;
	border-radius: 5px;
	font-family: Century Gothic;
}
	

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#shopping{
	position: relative;
	float: left;
	height: 10%;
	width: 75%;
	top: 70%;
	margin-left: 12.5%;
	margin-right: auto;
	border: none;
	border-radius: 5px;
	background-color: rgb(33,139,125);
	color: white;
}

.selection{
	position: absolute;
	width: 70%;
	left: 55%;
	bottom: 20%;
}

.selection select{
	background-color: rgb(33,139,125);
	color: white;
	padding: 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 5px;
	width: 8%;
}

select:after{
	background-color:white;
}


p{
	position: relative;
	top: 50%;
	right: 30%;
}

#popup{
	visibility: hidden;
	position: absolute;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
}

#emailsendung{
	visibility: hidden;
	position: absolute;
	font-family: Century Gothic;
	color: white;
	margin-top: 25%;
	width: 50%;
	left: 25%;
	right: 25%;
}



.Beschreibung h3{
	position: absolute;
	width: 10%;
	margin-top: 75%;
	left: 75%;
}

.Loginformular{
	position: absolute;
	display: block;
	width: 75%;
	height: 200px;
	top: 10%;
	border-radius: 5px;
	z-index: 2;
}

#loginemail{
	position: absolute;
	text-align: center;
	left: 10%;
}

#loginpassword{
	position: absolute;
	left: 10%;
	text-align: center;
	margin-top: 20px;
}

#login{
	position: absolute;
	left: 10%;
	margin-top: 25%;
}














	