.Loginformular{
	position: absolute;
	display: block;
	width: 75%;
	height: 200px;
	top: 10%;
	border-radius: 5px;
	z-index: 2;
}

#loginemail{
	position: absolute;
	text-align: center;
	left: 10%;
}

#loginpassword{
	position: absolute;
	left: 10%;
	text-align: center;
	margin-top: 20px;
}

#login{
	position: absolute;
	left: 10%;
	margin-top: 25%;
}


