.Formular{
	margin-top: 100px;
}

form{
	position: absolute;
	display: block;
	width: 25%;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	margin-left: 37.5%;
	margin-right: 37.5%;
	border-radius: 5px;
	z-index: 1;
}

#submit{
	background-color: #eb5c00;
	border: none;
	height: 50px;
	width: 200px;
	margin-top:50px;
	border-radius: 10px;
}

#titelbild{
	position: absolute;
	float: left;
	margin-top: 5%;
	width: 100%;
	text-align: center;
	height: 500px;
	filter: blur(5px);
	z-index: -1;
}

input[type=text] {
	font-family: Century Gothic;
	width: 100px;
	margin: 10px;
	margin-left: 20px;
	padding: 5px;
	margin-top: 20px;
	background-color: gray;
	border-radius: 5px;
	color: white;
	border: none;
}

input[type=checkbox]{
	margin-top: 20px;
}

input[type=password]{
	font-family: Century Gothic;
	width: 25%;
	margin: 10px;
	padding: 5px;
	background-color: gray;
	border-radius: 5px;
	color: white;
	border: none;
}

#password{
	margin-top: 10px;
	border: none;
}


