.Kategorienbild{
	position: relative;
	width: 75%;
	height: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 0px;
}

.Kategorie{
	position: relative;
	width: 980px;
	font-size: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	filter: blur(5px);

}

.wrapper{
	position: relative;
	width: 75%;
	height: 100%;
	margin-top: 10px;
}

.wetsuit{
	position: relative;
	float: left;
	text-align: center;
	width: 33.33%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	opacity: 0.5;
}

.wetsuit:hover{
	opacity: 1;
}

.Name{
	position: absolute;
	bottom: 0px;
	height: 50px;
	text-align: center;
	width: 100%;
	color: white;
	background-color: orange;
	font-family: Century Gothic;
}

p{
	position: relative;
	color: white;
	font-size: 50px;
	padding: none;
	text-align: center;
	top: -350px;
	font-family: Century Gothic;
	font-weight: 900;
}











