.Kategorie{
	position: relative;
	width: 75%;
	height: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 0px;
}

#Kategorienbild {
	position: relative;
	z-index: -1;
	width: 100%;
    height: 300px;
    background-image: url("Bilder/StrandMen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#Kategorienbildfrau {
	position: relative;
	z-index: -1;
	width: 100%;
    height: 300px;
    background-image: url("Bilder/Damenkategorie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#Kategorienbildkind {
	position: relative;
	z-index: -1;
	width: 100%;
    height: 300px;
    background-image: url("Bilder/Kinderkategorie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}

.wetsuit{
	position: relative;
	float: left;
	text-align: center;
	width: 25%;
	height: 30%;
	margin-top:2%;
	opacity: 0.5;
}

.wetsuit:hover{
	opacity: 1;
}


.Name{
	position: relative;
	bottom: 0px;
	height: 50px;
	background-color: black;
	border: 2px solid white;
	text-align: center;
	width: 75%;
	margin: auto;
	color: white;
	font-family: Century Gothic;
}

.Kategorietext{
	margin-top: 20px;
	width:980px;
	background-color:black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 4;
	text-shadow: 0 0 20px rgba(255,255,255,0.3);
	font-family: Gill Sans MT Condensed;
	font-size: 60px;
	text-decoration: none;
	display:block;
    -webkit-transform:scale(0.7,1); /* Safari and Chrome */
    -moz-transform:scale(0.7,1); /* Firefox */
    -ms-transform:scale(0.7,1); /* IE 9 */
    -o-transform:scale(0.7,1); /* Opera */
    transform:scale(0.7,1); /* W3C */
	}
	
.WOMEN{
	position: absolute;
	margin: auto;
	height: 150px;
	width: 300px;
	top: 300px;
	text-align: center;
	z-index: 7;
}
	
p{
	margin-left: auto;
	margin-right: auto;
	font-size: 100px;
	color: white;
	font-family: Century Gothic;
}

.Kategorienauswahl{
	position: relative;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.kategorienauswahl{
	height: 50%;
	filter: blur(5px);
}

.kategorienauswahl1{
	display: inline-block;
	height: 50%;
	width: 33%;
	filter: blur(5px);
}

.kategorienauswahl2{
	display: inline-block;
	text-align: center;
	height: 50%;
	width: 33%;
	filter: blur(5px);
}

.kategorienauswahl3{
	display: inline-block;
	text-align: center;
	height: 50%;
	width: 33%;
	filter: blur(5px);
}

.Beschriftung{
	position: absolute;
	text-align: center;
	font-size: 100px;
	left: 33%;
	right: 33%;
	top: 33%;
	font-family: Gill Sans MT Condensed;
	color: white;
}

.Beschriftung1{
	position: relative;
	font-size: 60px;
	color: white;
	bottom: 140px;
	text-align: center;
	font-family: Gill Sans MT Condensed;
}

.Beschriftung2{
	position: relative;
	font-size: 60px;
	color: white;
	bottom: 140px;
	text-align: center;
	font-family: Gill Sans MT Condensed;
}

.Beschriftung3{
	position: relative;
	font-size: 60px;
	color: white;
	bottom: 140px;
	text-align: center;
	font-family: Gill Sans MT Condensed;
}


a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
}

.kategorienauswahl:hover, .kategorienauswahl1:hover, .kategorienauswahl2:hover, .kategorienauswahl3:hover{
	filter: blur(0px);
}













